# local package
-e .

# external requirements
click
Sphinx
coverage
flake8
python-dotenv>=0.5.1

## project requirements
numpy==1.16.4
fancyimpute==0.4.0
pandas==0.23.4
sklearn==0.20.2
xgboost==0.81
matplotlib==3.0.2

# jupyter handling
jupyter==1.0.0
notebook==5.7.4
jupyterlab==0.35.4

# statistics & visualization
seaborn==0.9.0